* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Digital-7', monospace;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding: 1vh 0;
  font-size: 2vh;
}


h2 {
  font-size: 4vh;
}

.screen {
  width: 45vh;
  background: white;
  background-color: white;
  border: 0.3vh solid black;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.info {
  width: 45vh;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}

.credit {
  font-style: italic;
  width: 27vh;
  height: 4vh;
  display: flex;
  color: gray;
  justify-content: flex-start;
  font-size: 1.5vh;
  padding: 0.5vh 1vh;
}

.answer {
  width: 15vh;
  height: 4vh;
  display: flex;
  color: gray;
  justify-content: flex-end;
  font-size: 2.1vh;
  font-weight: bold;
  padding: 0.5vh 1vh;
}

.mode {
  width: 3vh;
  height: 4vh;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 0vh 1vh;
}

.display {
  width: 45vh;
  height: 10vh;
  padding: 1vh;
  color: black;
  font-size: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vh 1vh;
  width: 45vh;
  background-color: transparent;
  padding: 0vh;
  border-radius: 2vh;
  align-items: center;
}

.button-container button {
  width: 100%;
  aspect-ratio: 1 / 1.1;
  font-size: 4vh;
  border-radius: 3vh;
  border: .5vh solid gray;
  background-color: lightgray;
  color: black;
  font-weight: bold;
  transition: transform 0.1s, background-color 0.1s;
}

button:active {
  transform: scale(.95);
  background-color: gray;
}